@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
}

.text-box1 {
  position: absolute;
  left: 5vw;
  top: 5vh;
  background-color: #2757a4;
  box-sizing: border-box;
  min-height: 30vh;
  max-height: 60vh;
  padding: 3vmin;
  width: 90vw;
  font-size: 1.6vmax;
  animation: fade-in 2s;
  animation-fill-mode: both;
  border-radius: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}