.timer {
    position: absolute;
    top: 60vh;
    width: 100%;
}

.timer h1 {
    font-size: 5vmax;
    text-align: center;
    color: #34d0eb;
}

@keyframes text-color {
    0% {
        color: #34d0eb;
    }

    25% {
        color: #2757a4;
    }

    50% {
        color: #2757a4;
    }

    75% {
        color: #34d0eb;
    }

    100% {
        color: #34d0eb;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}